.voiting {
  align-self: flex-end;
  width: 138px;
  height: 198px;
  background: #b4b7ff;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.voiting img {
  position: relative;
  height: 124px;
  width: 100px;
  z-index: 1;
}

.voiting:hover {
  border: 4px solid #ffffff;
}

.voiting:active {
  border: 4px solid #fbe0dc;
}

.breeds {
  align-self: flex-end;
  width: 138px;
  height: 198px;
  background: #97eab9;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.breeds img {
  position: relative;
  height: 163px;
  width: 117px;
  z-index: 1;
}

.breeds:hover {
  border: 4px solid #ffffff;
}

.breeds:active {
  border: 4px solid #fbe0dc;
}

.gallery {
  align-self: flex-end;
  width: 138px;
  height: 198px;
  background: #ffd280;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.gallery img {
  position: relative;
  height: 190px;
  width: 112px;
  z-index: 1;
}

.gallery:hover {
  border: 4px solid #ffffff;
}

.gallery:active {
  border: 4px solid #fbe0dc;
}
